@model WebAtividadeEntrevista.Models.ClienteModel
@{
    ViewBag.Title = "Alterar Cliente";
}
@section scripts{
    <script>
        var urlPost = '@Url.Action("Alterar", "Cliente", new { area = "" })';
        var urlGetBeneficiarios = '@Url.Action("Listar", "Beneficiario", new { area = "" })';
        var urlAlterarBeneficiario = '@Url.Action("Alterar", "Beneficiario", new { area = "" })';
        var urlInserirBeneficiario = '@Url.Action("Incluir", "Beneficiario", new { area = "" })';
        var urlRemoverBeneficiario = '@Url.Action("Remover", "Beneficiario", new { area = "" })';
        var obj = @Html.Raw(Json.Encode(Model));
        var urlRetorno = '@Url.Action("Index", "Cliente", new { area = "" })';
    </script>
    @Scripts.Render("~/bundles/altClientes")
    @Scripts.Render("~/bundles/altBeneficiarios")
}
<h2>@Html.Raw(ViewBag.Title)</h2>
@Html.Partial("Forms")